<div class="container" >
    <div id="header" class="row">
        <img style="width: 100%" src="../../Images/corporation.jpg"/>
    </div>
    <div class="row ">
        <div class="col-sm-3 col-md-3" style="background-color: wheat ">
            <ul>
                <li role="presentation">
                    <a ng-click="openModal()"> Добавить статью </a>
                </li>
                <li>Пункт 1<a ng-click="openModal()">+</a>-</li>
                <li>Пункт 1</li>
                <li>Пункт 1</li>
                <li>Пункт 1</li>
            </ul>
        </div>
        <div class="col-sm-9 col-md-9 text-center">
            <b> статья </b>
        </div>
    </div>
</div>